---
import { Font } from "astro:assets";
import Logo from "@components/Logo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-ZxProto" />
    <Font cssVariable="--font-Barcode" />
    <Font cssVariable="--font-Atkinson" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Logo />
    <div class="svg-wrapper" data-js="outer-frame" style="opacity: 1;">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <mask id="mask">
            <rect id="outer-mask-bg" x="0" y="0" fill="white"></rect>
            <rect id="inner-mask-body" class="rect-radius" fill="black"></rect>
          </mask>
        </defs>
        <rect
          id="outer-rect-bg"
          class="rect-bg"
          x="0"
          y="0"
          fill="var(--color-bg)"
          mask="url(#mask)"></rect>
        <rect
          id="inner-rect-border"
          class="rect-radius"
          stroke-width="1"
          stroke="var(--color-border)"
          vector-effect="non-scaling-stroke"></rect>
      </svg>
    </div>
    <div id="app">
      <main id="swup" class="transition-fade">
        <slot />
      </main>
    </div>
  </body>
</html>

<script>
  // SVG related code below
  const svgFrame = document.querySelector('[data-js="outer-frame"] svg');
  const outerRects = document.querySelectorAll(
    "#outer-mask-bg, #outer-rect-bg",
  );
  const innerRects = document.querySelectorAll(
    "#inner-mask-body, #inner-rect-border",
  );
  const GAP = 15;
  const GAPDesktop = 20;

  if (window) {
    updateSVGWrapper(); // Initial call

    window.addEventListener("resize", updateSVGWrapper);
  } else {
    throw new Error("Window does not exist...?");
  }

  function updateSVGWrapper() {
    const vh = window.innerHeight;
    const vw = window.innerWidth;
    console.log(`width: ${vw}`);
    console.log(`height: ${vh}`);

    svgFrame?.setAttribute("width", `${vw}`);
    svgFrame?.setAttribute("height", `${vh}`);
    svgFrame?.setAttribute("viewBox", `0 0 ${vw} ${vh}`);

    outerRects.forEach((r) => {
      r.setAttribute("width", `${vw}`);
      r.setAttribute("height", `${vh}`);
    });

    if (vw < 767) {
      // Mobile check, based on logo's media query
      innerRects.forEach((r) => {
        r.setAttribute("x", `${GAP}`);
        r.setAttribute("y", `${GAP * 2}`);
        r.setAttribute("width", `${vw - 2 * GAP}`);
        r.setAttribute("height", `${vh - 3 * GAP}`);
      });
    } else {
      innerRects.forEach((r) => {
        r.setAttribute("x", `${GAPDesktop}`);
        r.setAttribute("y", `${GAPDesktop * 3}`);
        r.setAttribute("width", `${vw - 2 * GAPDesktop}`);
        r.setAttribute("height", `${vh - 4 * GAPDesktop}`);
      });
    }
  }
</script>

<style is:global>
  body {
    font-family: var(--font-Atkinson);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-ZxProto);
  }

  h1,
  h2,
  p {
    margin: 0;
  }
</style>

<style>
  :root {
    --color-white-1: #fff;
    --color-white-2: #f3f3ff;
    --color-white-3: #a4a4a4;
    --color-black-1: #000;
    --color-black-2: #101016;
    --color-black-3: #565656;

    --color-dark-orange: #ff8c00;
    --color-seagrass: #65a98f;
    --color-rust-brown: #a93400;
    --color-papaya-white: #fff4db;

    --color-bg: var(--color-black-1);
    --color-text: var(--color-papaya-white);
    --color-border: var(--color-white-3);

    --mobile-padding-top: 30px;
    --mobile-padding-outer: 15px;
    --mobile-padding-inner: 15px;

    --desktop-padding-top: 60px;
    --desktop-padding-outer: 20px;
    --desktop-padding-inner: 20px;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow: hidden;
  }

  #app {
    height: 100vh; /* fallback */
    height: 100dvh; /* better on mobile browser UI changes */
    width: 100%;

    overflow-y: scroll;
    overscroll-behavior: none;
    scrollbar-width: none;
  }

  main {
    margin: var(--mobile-padding-top) var(--mobile-padding-outer)
      var(--mobile-padding-outer);
  }

  /* SVG specific stylings */
  .svg-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
  }

  .svg-wrapper svg {
    display: block;
  }

  .svg-wrapper rect {
    transform-origin: center;
  }

  @media (min-width: 767px) {
    main {
      margin: var(--desktop-padding-top) var(--desktop-padding-outer)
        var(--desktop-padding-outer);
    }
  }
</style>
